<div class="langcontainer">
	</br>
	<h1>Languages</h1>
	</br>
	<!-- show form to create langugages if user is admin -->
	<% if current_user[:admin] == true %>
		<%= render 'form' %>
	<% end %>
	<!-- show form to create langugages if user is admin -->
		<div class="songs">
	<% @languages.each do |language| %>
		<div class="langs">
			<%= language.langname %>
		</div>

			<% if language.songs.any? %>
				<% language.songs.each do |song| %>
					<div class="songtitle">
	        	<%= link_to song.songname, language_song_path(language, song) %>
		        <!-- pass in two arguments, @language and @song -->
		      </div>
		    <% end %>
      <% end %> 
	  </div>
	<% end %>

</div>