<h1>Languages#index</h1>
<p>Find me in app/views/languages/index.html.erb</p>

<!-- show form to create langugages if user is admin -->
<% if current_user[:admin] == true %>
	<%= render 'form' %>
<% end %>
<!-- show form to create langugages if user is admin -->

<div class="languages">
	<% @languages.each do |language| %>
		<div class="langname">
			<%= language.langname %>
		</div>

		<div class="songs">
			<% if language.songs.any? %>
				<% language.songs.each do |song| %>
						<div class="songname">
							<%= link_to song.songname, language_song_path(language, song) %>
							<!-- pass in two arguments, @language and @song -->
						</div>
				<% end %>
			<% end %>
		</div>

	<% end %>
</div>
