<div class="maincontainer">
	</br>
	<h1>Hello! <%= @user.fname %></h1>
		<!-- <h2><%# @user.fname %>'s Profile</h2> -->
		</br>
			<% if @user.fname && @user.lname %>
				<%= @user.fname + " " + @user.lname%>
				<%# @user.birthday %>
			<% end %>
			<br>
			<br>
		<div class="pagelinks">
			<%= link_to 'Update Profile', edit_user_registration_path %>
		</div>
</div>