<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>
<h1>
	<%= @song.songname %>
</h1>

<!-- listing exercises -->
<div class="exercises">
	<div class="ex1">
		<p>exercise name</p>
	</div>

	<div class="ex1">
		<p>exercise name</p>
	</div>

	<div class="ex1">
		<p>exercise name</p>
	</div>
</div>
<!-- listing exercises -->

<div>
	<%= audio_tag("#{@song.songurl}", id: "audioplayer", controls: true) %>
</div>

<button onclick="playLyrics(), playAudio()" type="button">Play</button>
<button onclick="pauseAudio()" type="button">Pause</button><br> 

<div class="footnote">

	<div id="footnote1" data-in-effect="flipInX"></div>
	<div id="footnote2" data-in-effect="flipInX"></div>
	<div id="footnote3" data-in-effect="flipInX"></div>
</div>

<div class="songanimation">
	<% @song.images.each_with_index do |image, index| %>
		<div class='<%="image_#{index}" %>'>
			<%= image_tag("#{image.imageurl}") %>
		</div>
	<% end %>
</div>