<div class="homecontainer">
	<div class="logohome"><img src="/assets/logol.png"></div>

	</br>

	<div class="tagline">
		<h1>SING-ALONG AND LEARN CHINESE</h1>
	</div>
	<!-- <p>introduction or the site</p>

	<p>testimonials</p>

	<p>content or image slideshow</p> -->
</div>