 // * This is a manifest file that'll be compiled into application.css, which will include all the files
 // * listed below.
 // *
 // * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 // * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 // *
 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any styles
 // * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 // * file per style scope.
 // *
 // *= require_self
 // */
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'bourbon';
@import 'homes';
@import 'flashcards';
@import 'songs';
@import 'languages';

html {
    position: relative;
    min-height: 100%;
}

body {
  background: #FFA69E;
  background-image: url("mic.png") no-repeat center center fixed;
  background: url("mic.png") no-repeat center center fixed, linear-gradient(#FFA69E, #FFA69E);
  width: 100%;
  height: 100%;
	margin: 0 0 80px; // bottom = footer height
	font-family: Verdana, Geneva, sans-serif;
}

h1 {
	color: #AED9E0;
	font-family: 'Lilita One', cursive;
}

/*********** header ***********/

.header {
	width: 100%;
	height: 50px;
	background-color: #FFF4F4;
	opacity: 0.9;
}

#logo {
	width: 6%;
	height: 6%;
	margin-left: 80px;
	float: left;
	background-color: transparent;
}

.dropdown {
	margin-top: 8px;
	margin-right: 100px;
	float: right;
}

#menu1 {
	border: 1px solid #AED9E0;
	border-radius: 15px;
	color: #AED9E0;
	background-color: #FAF3DD;
}

.dropdown-menu {
	z-index: 100000;
	border: 1px solid #AED9E0;
	border-radius: 15px;
	color: #AED9E0;
	background-color: #FAF3DD;
}

#menulinks {
	z-index: 100000;
	color: #AED9E0;
}
/*********** header ***********/

/*********** notifications ***********/

.notifications {
	width: 525px;
	height: 50px;
	margin: 10px auto;
	// border: 1px solid black;
}

// .notifications p {
// 	display: inline-block;
// }

.notice {
	margin: 0 auto;
	border: 2px solid #30D927;
	background-color: #30D927;
	color: white;
	height: 48px;
	text-align: center;
	border-radius: 15px;
	padding-top: 10px;
}

.alert {
	margin: 0 auto;
	border: 2px solid #FF2E5F;
	background-color: #FF2E5F;
	color: white;
	height: 48px;
	text-align: center;
	border-radius: 15px;
}

/*********** notifications ***********/

/*********** main ***********/

.main {
	width: 85%;
	margin: 0 auto;
	clear: both;
}

.maincontainer {
	// border: 1px solid black;
	background-color: white;
	width: 500px;
	margin: 0 auto;
	opacity: 0.9;
	border-radius: 10px;
	text-align: center;
	padding-bottom: 30px;
}

h2 {
	color: #AED9E0;
	font-family: 'Lilita One', cursive;
}

h4 {
	color: #AED9E0;
	font-family: 'Lilita One', cursive;
}

/*********** main ***********/

/*********** buttons ***********/

.buttons {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	button {
		border: 1px solid #AED9E0;
		border-radius: 15px;
		padding: 3px;
		color: #AED9E0;
		background-color: #FAF3DD;
	}
}

.pagelinks {
	width: 120px;
	height: 30px;
	margin: 0 auto;
	border: 1px solid #AED9E0;
	border-radius: 15px;
	padding: 2px;
	color: #AED9E0;
	background-color: #FAF3DD;
	text-decoration: none;
	a {
		text-decoration: none;
		color: #AED9E0;
	}
	a:hover {
		text-decoration: none;
		color: #AED9E0;
	}
}


/*********** buttons ***********/


/*********** clear div ***********/

.cleardiv {
	width: 100%;
	height: 100px;
}

/*********** clear div ***********/

/*********** footer ***********/

.footer {
	position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
	background-color: #FFF4F4;
	clear: both;
	opacity: 0.9;
}

/*********** footer **********/