/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "songs";
@import "homes";
@import "languages";

html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 100px; /* bottom = footer height */
}

/*********** header ***********/

.header {
	border: 1px solid black;
	width: 100%;
	height: 80px;
}

.header a {
	margin-top: 25px;
	margin-right: 25px;
	float: right;
}

.logosmall img {
	margin-top: 5px;
	margin-left: 20px;
	width: 10%;
	height: 10%;
	border: 1px solid black;
	float: left;
}

/*********** header ***********/

/*********** notifications ***********/

.notifications {
	border: 1px solid black;
	width: 100%;
	height: 50px;
}

.notifications p {
	display: inline-block;
	margin-left: 15px;
}

/*********** notifications ***********/

/*********** main ***********/

.main {
	border: 1px solid black;
	width: 85%;
	margin: 0 auto;
	clear: both;
}

/*********** main ***********/

/*********** footer ***********/

.footer {
	position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  border: 1px solid black;
}

/*********** footer ***********/