// Place all the styles related to the Flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flashcontainer {
  // border: 1px solid black;
  background-color: white;
  width: 800px;
  margin: 0 auto;
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 30px;
}

.fcontainer {
	// border: 1px solid black;
	width: 700px;
	height: 350px;
	margin: 0 auto;
  margin-top: 10px;
}

// entire container, keeps perspective
.flip-container {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
  perspective: 1000;
  // border: 1px solid black;
}

// flip the pane when hovered
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 220px;
  height: 110px;
  // border: 1px solid black;
}

// flip speed goes here
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  // border: 1px solid black;
  width: 220px;
  height: 110px;
  position: relative;
}

// hide back of pane during swap
.front, .back {
  backface-visibility: hidden;
  // border: 1px solid black;
  width: 220px;
  height: 110px;
  position: absolute;
  top: 0;
  left: 0;
}

// front pane, placed above back
.front {
  z-index: 2;
  // for firefox 31
  transform: rotateY(0deg);
  border: 1px solid #E9E7E7;
  background-color: #F9F7F7;
  h2 {
    color: #A6D0D8;
  }
}

// back, initially hidden pane
.back {
  transform: rotateY(180deg);
  border: 1px solid #E9E7E7;
  background-color: #F9F7F7;
  h2 {
    color: #A6D0D8;
  }
}