// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homecontainer {
	margin: 0 auto;
	width: 90%;
	height: 90%;
}

.tagline {
	margin: 0 auto;
	opacity: 0.9;
	border-radius: 10px;
	text-align: center;
	h1 {
		color: #FAF3DD;
		text-shadow: 
		2px 2px 0px #AED9E0,
		-2px -2px 0px #AED9E0,
		2px -2px 0px #AED9E0,
		-2px 2px 0px #AED9E0,
		0px 2px 0px #AED9E0,
		2px 0px 0px #AED9E0,
		0px -2px 0px #AED9E0,
		-2px 0px 0px #AED9E0;
	}
}

.logohome {
	margin: 0 auto;
	width: 80%;
	height: 80%;
}

img {
	width: 100%;
	height: 100%;
}