// Place all the styles related to the Languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-default {
	border: none !important;
	background-color: transparent !important;
	box-shadow:none !important;
	.panel-heading {
		border: 3px solid #25CED1 !important;
		background-color: #9C528B !important;
		width: 120px;
		height: 120px;
		border-radius: 10px;
		margin: 0 auto;
		padding-top: 45px;
		text-align: center;
	}
	.panel-body {
		border: 3px solid #9C528B !important;
		background-color: #25CED1;
		width: 70px;
		height: 70px;
		border-radius: 10px;
		margin: 0 auto;
		text-align: center;
	}
}

.panel-title {
	color: black;
	font-family: 'Lilita One', cursive;
}

.panel-body a {
	color: black;
	font-family: 'Lilita One', cursive;
}
