// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songcontainer {
	// border: 1px solid black;
	background-color: white;
	width: 650px;
	height: 1100px;
	margin: 0 auto;
	opacity: 0.9;
	border-radius: 10px;
	text-align: center;
	padding-bottom: 30px;
	.pagelinks1 {
		width: 120px;
		height: 30px;
		margin: 0 auto;
		margin-top: 80px;
		border: 2px solid #A6D0D8;
		border-radius: 15px;
		padding: 2px;
		color: #A6D0D8;
		background-color: #FCF6E0;
		text-decoration: none;
		display: inline-block;
		a {
			text-decoration: none;
			color: #A6D0D8;
		}
		a:hover {
			text-decoration: none;
			color: #A6D0D8;
		}
	}
}

.songanimation {
	margin: 0 auto;
	width: 555px;
	height: 442px;
	background-color: white;
	border-radius: 15px;
	border: 1px solid white;
	.animation {
		width: 550px;
		height: 430px;
		border: 1px solid white;
		margin: 0 auto;
		margin-top: 5px;
		// background: sky
		#image_0 {
			width: 549px;
			height: 412px;
			// border: 1px solid black;
			position: absolute;
			margin-left: -275px;
		}
		// background: clouds
		#image_1 {
			// border: 1px solid black;
			margin: 0 auto;
			margin-top: 60px;
			width: 510px;
			height: 116px;
			position: relative;
			// display: block;
		}
		// first characters
		#image_2 {
			width: 403px;
			height: 208px;
			// opacity: 0.9;
			position: relative;
			margin: 0 auto;
			// top: 20px;
			margin-top: 15px;
			z-index: 1;
			// border: 1px solid black;
			// display: block;
		}
		// background: grass
		#image_3 {
			margin-top: -90px;
			margin-left: -278px;
			width: 556px;
			height: 134px;
			position: absolute;
			// display: block;
			// border: 1px solid black;
			border-radius: 15px;
		}
	}
}

//////// footnote ////////
.footnote {
	margin: 0 auto;
	// border: 1px solid black;
	height: 300px;
	width: 550px;
	h4 {
		text-align: left;
	}
	#footnote1 {
		margin: 0 auto;
		border: 1px solid #AED9E0;
		border-radius: 15px;
		color: #AED9E0;
		background-color: #FAF3DD;
		height: 30%;
		width: 98%;
		font-size: 1.25em;
	}
	#footnote2 {
		margin: 0 auto;
		margin-top: 3px;
		border: 1px solid #AED9E0;
		border-radius: 15px;
		color: #AED9E0;
		background-color: #FAF3DD;
		height: 30%;
		width: 98%;
		font-size: 1.25em;
	}
	#footnote3 {
		margin: 0 auto;
		margin-top: 3px;
		border: 1px solid #AED9E0;
		border-radius: 15px;
		color: #AED9E0;
		background-color: #FAF3DD;
		height: 30%;
		width: 98%;
		font-size: 1.25em;
	}
}



// exercises
.exercises {
	margin-top: 50px;
	border: 1px solid black;
	float: right;
	width: 110px;
	height: 100px;
	.ex1 {
		border: 1px solid black;
		width: 100px;
		height: 80px;
	}
}



// // second characters
// #image_3 img {
// 	width: 398px;
// 	height: 232px;
// 	position: relative;
// 	border: 1px solid red;
// 	background-color: red;
// 	opacity: 0.9;
// 	position: relative;
// 	margin: 0 auto;
// 	top: -455px;
// 	left: 85px;
// }